* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

* input, * textarea {
  outline: none;
}

* input:active, * textarea:active {
  outline: none;
}

* :focus {
  outline: none;
}

* textarea {
  resize: none;
}

* textarea {
  resize: vertical;
}

* textarea {
  resize: horizontal;
}

@-webkit-keyframes fly1 {
  0% {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
            transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
            transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes fly1 {
  0% {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
            transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
            transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-webkit-keyframes fly2 {
  0% {
    -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg);
            transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
            transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
}

@keyframes fly2 {
  0% {
    -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg);
            transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
            transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
}

@-webkit-keyframes fly3 {
  0% {
    -webkit-transform: rotate(360deg) translateX(350px) rotate(-360deg);
            transform: rotate(360deg) translateX(350px) rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(350px) rotate(0deg);
            transform: rotate(0deg) translateX(350px) rotate(0deg);
  }
}

@keyframes fly3 {
  0% {
    -webkit-transform: rotate(360deg) translateX(350px) rotate(-360deg);
            transform: rotate(360deg) translateX(350px) rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(350px) rotate(0deg);
            transform: rotate(0deg) translateX(350px) rotate(0deg);
  }
}

.orb {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: radial-gradient(red, #d38b06);
  -webkit-box-shadow: 0 0 5px 5px #d38b06;
          box-shadow: 0 0 5px 5px #d38b06;
  position: absolute;
  top: 400px;
  left: 500px;
}

.flyOrb {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  top: 415px;
  left: 515px;
}

.flyOrb1 {
  background: radial-gradient(#090957, #0e0edf);
  -webkit-animation: fly1 10s linear infinite;
          animation: fly1 10s linear infinite;
}

.flyOrb2 {
  background: radial-gradient(red, orange);
  -webkit-animation: fly2 15s linear infinite;
          animation: fly2 15s linear infinite;
}

.flyOrb3 {
  background: radial-gradient(green, yellowgreen);
  -webkit-animation: fly3 20s linear infinite;
          animation: fly3 20s linear infinite;
}

.flyOrb:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.informationBlock {
  display: none;
  position: absolute;
  border: 1px solid grey;
  left: 100px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
}

.flyOrb:hover > .informationBlock {
  display: block;
}
