@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Lato;
  color: #848789;
}

.imgCont {
  position: relative;
  z-index: -1;
  width: 100%;
}

.imgCont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shadowBlock {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(106, 176, 149, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.shadowBlock:hover {
  opacity: 1;
}

.shadowBlock:hover img {
  -o-object-fit: none;
     object-fit: none;
}

.red {
  background-image: url(img/logo/red.png);
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  z-index: 1002;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
}

.wrapper > header {
  width: 100%;
  height: 120px;
  position: fixed;
}

@media (max-width: 767px) {
  .wrapper > header .shadowMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
}

.wrapper > header nav {
  width: 100%;
}

@media (max-width: 767px) {
  .wrapper > header nav {
    display: none;
  }
}

.wrapper > header .mainNav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 25%;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper > header .mainNav li {
  margin: 0 37px;
}

.wrapper > header .mainNav li a {
  white-space: nowrap;
  color: #4d4959;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.wrapper > header .mainNav li:nth-child(2n):before {
  position: relative;
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background-color: #585464;
  top: 16px;
  left: -37px;
}

.wrapper > header .mainNav li:nth-child(2) {
  margin-right: 220px;
}

@media (max-width: 767px) {
  .wrapper > header .mainNav {
    z-index: 101;
    height: 80vh;
    top: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapper > header .mainNav li {
    margin: 0 !important;
  }
  .wrapper > header .mainNav li a {
    color: white;
  }
  .wrapper > header .mainNav li:before {
    display: none !important;
  }
}

.wrapper > header .navLogoCont {
  width: 94px;
  height: 85px;
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1001;
}

.wrapper > header .navLogoCont img {
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper > header .burger {
  display: none;
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: url(img/subElements/burger.png) center/cover no-repeat;
}

.wrapper > header .burger img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (max-width: 767px) {
  .wrapper > header .burger {
    display: block;
  }
}

.wrapper #main {
  min-height: 100vh;
  background: url(img/background/mainBackground.jpg) center/cover no-repeat;
}

.wrapper #aboutUs {
  padding: 140px 14.3vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #f7f7f7;
}

.wrapper #aboutUs h2 {
  margin: 30px 0 40px;
  font-weight: 700;
  font-size: 18px;
}

.wrapper #aboutUs p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .wrapper #aboutUs {
    padding: 30px 14.3vw;
  }
}

@media (max-width: 1441px) {
  .wrapper #aboutUs {
    padding: 70px 14.3vw;
  }
}

.wrapper #work {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper #work .logoCont {
  height: 35px;
}

.wrapper #work .row {
  max-height: 600px;
  max-width: 1920px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper #work .row .bigImg {
  width: 66.75%;
}

.wrapper #work .row .workCase {
  position: relative;
  z-index: -1;
  width: 33.25%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1023px) {
  .wrapper #work .row .workCase {
    padding-top: 15px;
    height: 400px;
  }
}

.wrapper #work .row .workCase .textBlock {
  padding: 70px 10.3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1441px) {
  .wrapper #work .row .workCase .textBlock p {
    font-size: 12px;
  }
}

.wrapper #work .row .workCase .smallImg {
  position: absolute;
  bottom: 0;
  height: 200px;
}

.wrapper #work .row .workCase h2 {
  margin: 32px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.wrapper #work .row .workCase p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 1023px) {
  .wrapper #work .row .bigImg {
    display: none;
  }
  .wrapper #work .row .workCase {
    width: 100%;
  }
}

@media (max-width: 1439px) {
  .wrapper #work .row .textBlock {
    padding: 10px 10.3% !important;
  }
  .wrapper #work .row .textBlock h2 {
    margin: 10px 0;
  }
  .wrapper #work .row .textBlock p {
    line-height: 15px;
  }
}

.wrapper #work .row .medImg {
  width: 33.25%;
}

@media (max-width: 1023px) {
  .wrapper #work .thirdRow h2 {
    margin: 5px 0 7px;
  }
  .wrapper #work .thirdRow .medImg {
    display: none;
  }
}

.wrapper #twitter {
  text-align: center;
}

.wrapper #twitter .twitIcon {
  width: 32px;
  padding: 122px 0 41px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper #twitter h2 {
  font-size: 18px;
  font-weight: 700;
}

.wrapper #twitter h2 span {
  font-style: italic;
  font-weight: 400;
}

.wrapper #twitter p {
  font-size: 24px;
  line-height: 34px;
  max-width: 1042px;
  margin: 34px auto 110px;
}

.wrapper #twitter .slider {
  padding-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper #twitter .slider input[type='radio'] {
  display: none;
}

.wrapper #twitter .slider label {
  cursor: pointer;
  margin: 10px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #a9afb3;
          box-shadow: 0 0 0 1px #a9afb3;
}

.wrapper #twitter .slider input[type='radio']:checked + label {
  background: #a9afb3;
}

.wrapper #shop {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 1439px) {
  .wrapper #shop {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .wrapper #shop {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

.wrapper #shop .longImg {
  grid-column: span 2;
}

.wrapper #shop .heightImg {
  grid-row: span 2;
}

.wrapper #shop .shadowBlock p {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper .discover {
  height: 200px;
  width: 100%;
  background: #282f35;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 75px;
  position: relative;
  z-index: -2;
}

.wrapper .discover .discoverButton {
  cursor: pointer;
  z-index: -1;
  position: relative;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 50px;
  border: 1px solid #94979a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.wrapper #mail {
  position: relative;
  text-align: center;
  width: 100%;
}

.wrapper #mail .navLogoCont {
  padding-top: 110px;
}

.wrapper #mail p {
  margin: 40px 0;
  font-style: italic;
  font-size: 24px;
  line-height: 34px;
}

.wrapper #mail form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 110px;
  position: relative;
  z-index: -1;
}

.wrapper #mail input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  padding-left: 26px;
  width: 400px;
  height: 70px;
  color: #d3d7d9;
  border: 1px solid #d3d7d9;
}

.wrapper #mail button {
  margin-left: 8px;
  height: 70px;
  width: 126px;
  background: #64c29e;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  line-height: 24px;
  border: none;
}

.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f7f7f7;
  padding: 105px 0;
}

.wrapper footer .address {
  width: 300px;
}

.wrapper footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper footer .social img {
  height: 36px;
  width: 37px;
  margin: 15px;
}

.wrapper footer .social .imgCont {
  z-index: 1;
}

.wrapper footer .handed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.wrapper footer .handed p {
  margin-right: 6px;
}

@media (max-width: 769px) {
  .wrapper footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .wrapper footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
  }
  .wrapper footer .social img {
    height: 35px;
    width: 36px;
    margin: 15px;
  }
  .wrapper footer .handed {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
